In [239]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import sys
from html.parser import HTMLParser
from html.entities import name2codepoint
sns.set(color_codes=True)

%matplotlib inline

In [248]:
# load training data text
def load_data(filename):
    load_file = pd.read_csv(filename,delimiter=',', header=0,
                        dtype={'name':str, 'lvl1':str, 'lvl2':str, 'lvl3':str, 'descrption':str, 'type':str})
    load_file.columns = ['id', 'name','lvl1','lvl2','lvl3','descrption','price','type']
    load_file.duplicated(subset=None, keep='first')
    load_file.set_index('id', inplace = True)
    load_file.head()
    return load_file
#print(len(train_file))
def load_label(filename):
    load_label = pd.read_csv(filename,delimiter=',', header=0)
    load_label.columns = ['id', 'score']
    load_label.duplicated(subset=None, keep='first')
    load_label.set_index('id', inplace = True)
    return load_label

In [245]:
def map_mathod(column):
    values = []
    indexs = []
    mapping = {}
    index = 0
    for count in range(len(train_file)):
        value = train_file.get_value(count+1,column)
        if value in values and value != np.nan:
            continue
        values.append(value)
        indexs.append(len(values))
    for j in range(len(indexs)):
        mapping[values[j]] = indexs[j]
    mapping[np.nan] = 0.0
    return mapping
#train_file['lvl3'] = train_file['lvl3'].str.lower().replace('[^\'\w]+',' ',regex=True)
#mapping_lvl3 = map_mathod('lvl3')
#print(mapping_lvl3)

In [246]:
def clean_data(filename):
    #clean up data for lvl 1&2&3
    filename['lvl1'] = filename['lvl1'].str.lower().replace('[^a-zA-Z]+',' ',regex=True)
    filename['lvl2'] = filename['lvl2'].str.lower().replace('[^\'\w]+',' ',regex=True)
    filename['lvl3'] = filename['lvl3'].str.lower().replace('[^\'\w]+',' ',regex=True)
    
    mapping_lvl1 = map_mathod('lvl1')
    mapping_lvl2 = map_mathod('lvl2')
    mapping_lvl3 = map_mathod('lvl3')
    
    filename['lvl1'] = filename['lvl1'].map(mapping_lvl1)
    filename['lvl2'] = filename['lvl2'].map(mapping_lvl2)
    filename['lvl3'] = filename['lvl3'].map(mapping_lvl3)
    
    #normalize price
    maxp = filename.price.max()
    valuethred = 600.
    filename['price'] = filename['price'].clip(lower=0.,upper=valuethred).div(valuethred,fill_value=None)
    #hist = train_file['price'].hist(bins=10)
    #maxp

    #clean up type 
    mapping_type = {'international':1.,'local':2., np.nan:0.}
    filename['type'] = filename['type'].map(mapping_type)

    return filename

In [249]:
train_file = load_data('train_data.csv')
cleaned_train = clean_data(train_file)
#cleaned_train.head()
train_score = load_label('train_label.csv')
#train_score.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

    score
id
1       1
2       1
3       1
4       0
5       1

In [235]:
table = pd.pivot_table(train_file,values = 'price', index=['lvl1','lvl2','lvl3'],columns=['type'],aggfunc=[min, max, np.mean])
table

                      min                           max                   \
type                  0.0       1.0       2.0       0.0       1.0    2.0
lvl1 lvl2 lvl3
1.0  1.0  1.0    0.115833  0.007500  0.004500  0.115833  1.000000  1.000
          94.0        NaN  0.048000  0.003250       NaN  1.000000  1.000
          95.0   0.205000  0.065250  0.002083  0.471750  1.000000  1.000
          124.0       NaN  0.016150  0.019833       NaN  0.428400  1.000
     11.0 12.0        NaN  0.011333  0.008317       NaN  1.000000  1.000
          30.0        NaN  0.004200  0.002217       NaN  1.000000  1.000
          51.0   0.708333  0.007333  0.028200  0.708333  1.000000  1.000
          112.0       NaN  0.005167  0.003333       NaN  1.000000  1.000
          114.0       NaN  0.010617  0.008167       NaN  1.000000  1.000
          132.0       NaN  0.009017  0.053333       NaN  1.000000  1.000
     15.0 16.0   0.408750  0.006100  0.015000  0.408750  1.000000  1.000
     16.0 17.0        NaN  0.114367  0.031667       NaN  0.938217  1.000
          143.0  0.020000  0.125550  0.025000  0.058167  0.830250  1.000
          156.0  0.665000  0.046317  0.044167  1.000000  1.000000  1.000
          183.0       NaN  0.106333  0.028333       NaN  1.000000  1.000
     17.0 0.0    0.125000  0.014083  0.005000  0.415000  1.000000  1.000
          18.0   0.010000  0.055833  0.012167  1.000000  1.000000  1.000
          67.0   0.331667  0.021833  0.020000  0.521667  1.000000  1.000
          161.0  0.051667  0.045000  0.037333  0.051667  0.720117  1.000
     24.0 37.0        NaN  0.004600  0.013333       NaN  1.000000  1.000
          73.0        NaN  0.012000  0.033167       NaN  1.000000  1.000
          79.0        NaN  0.007500  0.025300       NaN  1.000000  1.000
          88.0   0.145000  0.008667  0.051667  0.145000  1.000000  1.000
     25.0 40.0   0.056500  0.028000  0.010533  1.000000  1.000000  1.000
          76.0        NaN  0.022267  0.026650       NaN  1.000000  0.665
          81.0        NaN  0.028050  0.021500       NaN  1.000000  1.000
          118.0  0.070000  0.006183  0.028167  0.070000  1.000000  1.000
     39.0 66.0   1.000000  0.229667  0.010833  1.000000  1.000000  1.000
          97.0        NaN       NaN  0.075000       NaN       NaN  1.000
          145.0       NaN  0.045000  0.025500       NaN  0.464583  1.000
...                   ...       ...       ...       ...       ...    ...
8.0  23.0 33.0        NaN  0.016483  0.063333       NaN  1.000000  1.000
          44.0   0.998333  0.015333  0.080000  0.998333  1.000000  1.000
          52.0   0.066667  0.107333  0.026917  0.066667  0.289850  1.000
          93.0        NaN  0.005667  0.011667       NaN  1.000000  1.000
          110.0       NaN  0.013867  0.096667       NaN  0.958150  1.000
          122.0       NaN  0.007917  0.041667       NaN  1.000000  1.000
          134.0  1.000000  0.015717  0.074833  1.000000  1.000000  1.000
          137.0       NaN  0.025167  0.033000       NaN  1.000000  1.000
          173.0       NaN  0.005167  0.021500       NaN  1.000000  1.000
          182.0       NaN  0.015433  0.023317       NaN  1.000000  1.000
     45.0 91.0        NaN  0.028000  0.046667       NaN  1.000000  1.000
9.0  26.0 41.0   1.000000  0.018067  0.059333  1.000000  1.000000  1.000
          138.0       NaN  0.008333  0.016500       NaN  1.000000  1.000
          152.0       NaN  0.016017  0.026500       NaN  1.000000  1.000
          158.0       NaN  0.018333  0.011500       NaN  1.000000  0.915
     27.0 42.0        NaN  0.031500  0.541667       NaN  1.000000  1.000
          117.0       NaN  0.068983  0.083167       NaN  1.000000  1.000
     31.0 45.0   1.000000  1.000000  0.291650  1.000000  1.000000  1.000
          174.0       NaN  1.000000  0.066667       NaN  1.000000  1.000
     32.0 46.0        NaN  0.004000  0.014833       NaN  1.000000  1.000
          47.0        NaN  0.005000  0.024833       NaN  1.000000  1.000
          68.0        NaN  0.009650  0.065000       NaN  1.000000  1.000
          77.0   0.700000  0.018667  0.026500  0.700000  1.000000  1.000
          86.0        NaN  0.005500  0.054833       NaN  1.000000  1.000
     50.0 140.0       NaN  0.114000  0.041667       NaN  0.114000  1.000
          159.0       NaN  0.023333  0.041667       NaN  1.000000  1.000
     51.0 0.0         NaN  0.005483  0.011500       NaN  1.000000  1.000
          153.0  1.000000  0.008483  0.050000  1.000000  1.000000  1.000
     53.0 157.0       NaN  0.000000  0.020000       NaN  1.000000  1.000
          171.0       NaN  0.026633  0.065000       NaN  1.000000  1.000

                     mean
type                  0.0       1.0       2.0
lvl1 lvl2 lvl3
1.0  1.0  1.0    0.115833  0.192601  0.244896
          94.0        NaN  0.309065  0.588169
          95.0   0.338375  0.258204  0.359574
          124.0       NaN  0.189242  0.447199
     11.0 12.0        NaN  0.247472  0.323984
          30.0        NaN  0.233074  0.481080
          51.0   0.708333  0.233002  0.528579
          112.0       NaN  0.259344  0.396357
          114.0       NaN  0.201221  0.401862
          132.0       NaN  0.184653  0.301844
     15.0 16.0   0.408750  0.284654  0.277776
     16.0 17.0        NaN  0.404639  0.418819
          143.0  0.039083  0.332469  0.409564
          156.0  0.777222  0.269022  0.424083
          183.0       NaN  0.351000  0.431333
     17.0 0.0    0.270000  0.278114  0.435239
          18.0   0.505000  0.258504  0.317092
          67.0   0.426667  0.290930  0.374428
          161.0  0.051667  0.308867  0.577515
     24.0 37.0        NaN  0.292273  0.604744
          73.0        NaN  0.222063  0.560333
          79.0        NaN  0.245047  0.426475
          88.0   0.145000  0.370850  0.574349
     25.0 40.0   0.528250  0.196673  0.340925
          76.0        NaN  0.370825  0.146932
          81.0        NaN  0.269611  0.419172
          118.0  0.070000  0.347235  0.673861
     39.0 66.0   1.000000  0.614833  0.294826
          97.0        NaN       NaN  0.385405
          145.0       NaN  0.254792  0.600725
...                   ...       ...       ...
8.0  23.0 33.0        NaN  0.559328  0.618771
          44.0   0.998333  0.274588  0.614229
          52.0   0.066667  0.198592  0.483068
          93.0        NaN  0.294088  0.642954
          110.0       NaN  0.405353  0.597853
          122.0       NaN  0.461964  0.574676
          134.0  1.000000  0.515233  0.592405
          137.0       NaN  0.565810  0.410912
          173.0       NaN  0.488529  0.670187
          182.0       NaN  0.475583  0.605774
     45.0 91.0        NaN  0.467287  0.537603
9.0  26.0 41.0   1.000000  0.446522  0.658441
          138.0       NaN  0.312562  0.230361
          152.0       NaN  0.487602  0.569603
          158.0       NaN  0.415924  0.224946
     27.0 42.0        NaN  0.607550  0.934524
          117.0       NaN  0.554563  0.496974
     31.0 45.0   1.000000  1.000000  0.931937
          174.0       NaN  1.000000  0.961111
     32.0 46.0        NaN  0.343843  0.587975
          47.0        NaN  0.294527  0.786820
          68.0        NaN  0.301171  0.605889
          77.0   0.700000  0.311915  0.732064
          86.0        NaN  0.298013  0.590097
     50.0 140.0       NaN  0.114000  0.545179
          159.0       NaN  0.345368  0.631664
     51.0 0.0         NaN  0.289161  0.431012
          153.0  1.000000  0.349524  0.512221
     53.0 157.0       NaN  0.264113  0.546364
          171.0       NaN  0.418318  0.413774

[204 rows x 9 columns]